:root {
  --background-surface: #171d1a;
  --primaryColor: #232926;
  --secondaryColor: #838981;
  --textColor: #e1e1e1;
  --highlightColor: #56bce8;
  --color5: #ddb892;
  --color6: #0ac189;
  --highlight2: #fbf2c6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--background-surface);
  color: #fff;
}
